img.profile_pic {
	border-radius: 50%;
	width: 100%;
	max-width: 350px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.blogpost {
	/* border-radius: 50%; */
	/* height: 250px; */
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.project {
	/* border-radius: 50%; */
	/* height: 250px; */
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.paper {
	/* border-radius: 50%; */
	/* height: 250px; */
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div.centered {
	margin-left: auto;
	margin-right: auto;
}
/* 
@media screen and (max-width: 440px) {
	img.profile_pic {
		border-radius: 50%;
		height: 200px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
} */

div.figure-container {
	display: inline-block;
	position: fixed;
	width: 100%;
	max-width: 100%;
	height: 100%;
	overflow: hidden;
}
